
.leftPane {
  /* background: #aaa; */
  /* flex: 90%; */
  /* flex: 1; */
  /* border: 1px solid black; */
  /* padding: 10px; */
  /* overflow: hidden; */
  /* overflow-y: scroll; */

}

.rightPane {
  flex: 1;
}

.resizer {
  width: 3px;
  cursor: col-resize;
  background: rgb(105, 197, 228);
  margin-left: 2px;
  margin-right: 2px;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}